VINO_JP_CONFIG_PORT=10060
VINO_JP_CONFIG_ENV=config_env
VINO_JP_TOKEN_SECRET=token_secret
VINO_JP_SITE_URL=https://site_url
VINO_JP_CONFIG_DB_HOST=127.0.0.1
VINO_JP_CONFIG_DB_PORT=3306
VINO_JP_CONFIG_DB_USERNAME=db_username
VINO_JP_CONFIG_DB_PASSWORD=db_password
VINO_JP_CONFIG_DB_NAME=db_name
VINO_JP_CONFIG_WHITELIST_DB_NAME=whitelist
VINO_JP_CONFIG_DC_WEBHOOK_URL=discord_webhook_url
VINO_JP_CONFIG_BSKY_AES_KEY=bsky_aes_key
VINO_JP_MINIO_PUBLIC_URL=cdn...
VINO_JP_MINIO_PORT=9000
VINO_JP_MINIO_ENDPOINT=localhost
VINO_JP_MINIO_ACCESS_KEY=accesskey
VINO_JP_MINIO_SECRET_KEY=secret
VINO_JP_MINIO_BUCKET=your_minio_bucket

VINO_JP_TV_CDN_URL=cdn...
VINO_JP_TV_LISTINGS_URL=https://...
VINO_JP_TV_LINEUPS_URL=https://...
VINO_JP_TV_LINEUPS_SET_BASE_URL=https://...
VINO_JP_TV_PROGRAM_DETAILS_BASE_URL=https://...
VINO_JP_TV_SEASON_CAST_URL=https://...

VINO_JP_STAFF_PIDS=pid1,pid2...

VINO_JP_MII_IMAGE_PNG_BASE_URL=https://mii-unsecure.ariankordi.net/miis/image.png
